
  body {
    padding: 0px;
    margin: 0px;
    background-color: #000f4bda; 
    text-align: center;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;    
  }



#calculator-home{
  height: 30px;
  margin: 0 0.9%;
}


.contact{
  padding: 20%;
  // background-color: #ffffffc0;  
}
