$background: #e7dacc;
$secondColor: #e7e6e9;
$text: #515151;

$min-size: 6;
$max-size: 15;

#mainpage-blogs{
    margin: 0 4%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
#mainpage-blogs .text {
    font-size: calc(8px + ($max-size - $min-size) * ((100vw - 300px) / (1600 - 300)));
}

#mainpage-blogs .title {
    font-weight: bold;
    font-size: calc(11px + ($max-size - $min-size) * ((100vw - 300px) / (1600 - 300)));
}

#cards{
    text-decoration: none;
}
#card-links{
  color:$text;
  text-decoration: none;
  font-family: "Delius Unicase", cursive
}


@media only screen and (max-width: 600px){
    #mainpage-blogs{
        margin: 2% 20% 0% 20%;
    }
}
