$background: #e7dacc;
$secondColor: #B9B7BD;
$text: #515151;

$min-size: 6;
$max-size: 15;


#article-card{
    margin: 5%;
}
.mainpage{
    display: flex;
    flex-direction: column;
    align-items: center;

    .bubble-container{
        display: flex;
        flex-direction: row;
        margin:-10% 15% 5% ;
        width: 50%;
        height: 50%;

        .type-writer-text {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            font-family: 'Klee One', cursive;
            transform: translate(-50%, -50%);
            color: $text;
            font-size: calc(6px + ($max-size - $min-size) * ((100vw - 300px) / (1600 - 300)));
            font-family: monospace;
            border-right: 1px solid #dedede;
            white-space: nowrap;
            overflow: hidden;
            animation: typewriter 5s steps(50) 0.5s 1 normal both,
            cursorblink 1.5s infinite;
            span{
                color: $text;
                font-family: 'Klee One', cursive;
            }
        }
        
        .avatar-logo{
            margin-top: 5%;
            width: 15%;
            height: 15%;
            border-radius: 90%;;
        }
        .box {
            width: 100%;
            margin: 5% 3%;
            border: 3px solid $text;
            background: none;
            padding: 20px;
            text-align: center;
            font-weight: 900;
            color: $secondColor;
            font-family: arial;
            position: relative;
            border-radius: 10px;
            }
        
            
        .bubble:before {
            content: "";
            width: 0px;
            height: 0px;
            position: absolute;
            border-left: 10px solid transparent;
            border-right: 10px solid $text;
            border-top: 10px solid $text;
            border-bottom: 10px solid transparent;
            left: -22px;
            top: 10px;
            }
    }
    .home-nav{
        width: 60%;
        margin-bottom: 4%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-top: 1px double #515151;
        border-bottom:1px double  #515151;

        a{  
            color: $text;
            text-decoration: none;
            margin: 3%;
            font-family: 'Delius Unicase', cursive;
            font-weight: bold;
        }

    }
    

    
}

@keyframes typewriter {
    from {
    width: 0;
    }
    
    to {
    width: 18em;
    }
}

@keyframes cursorblink {
    from {
    border-right: 1px solid #dedede;
    }
    
    to {
    border-right: 1px solid #666;
    }
}

@media only screen and (max-width: 600px){
.mainpage{

    .bubble-container{
        width: 80%;

        .box{
            width: 80%;

        }
    }

    
}


}