$background: #e7dacc;
$secondColor: #B9B7BD;
$text: #515151;


#nav-link{
    color: $text;
    display: block;
    font-size: large;
    font-weight: bold;
    font-family: 'Delius Unicase', cursive;
    text-decoration: none;
    
  }

#nav-link-mobile{
  color: $text;
  display: block;
  font-size: small;
  font-weight: bold;
  font-family: 'Delius Unicase';
  text-decoration: none;
}
#nav-link:hover{
  padding: 4%;
  background-color: #cbbaa8c0;
  border-radius: 10px;
}


#admin-link{
  color: $text;
  display: block;
  margin: 1%;
  background-color: #5151511d;
  padding: 1%;
  border-radius: 10px;
  font-size: large;
  font-weight: bold;
  font-family: 'Delius Unicase', cursive;
  text-decoration: none;

}

  .nav-logo {
    width: 300px;
    height: 80px;
    overflow: hidden;
  }
  .nav-logo img {
    height: 300px;
    margin: -106px 0;
  }

  
  @media only screen and (max-width: 600px){
    .App {
        .main-logo{
          width: 70%;
          height: 70%;
      }
    }
  
    }
  